<div class="container">

    <section>
      <h1>Contact us</h1>
      <ul class="listy">
        <li><strong>Main Office:</strong>
            <ul>
                <li>
                    Email - francismburu75&#64;gmail.com
                </li>
                <li>
                    Phone - 0798375876
                </li>
            </ul>
        </li>
        <li><strong>Service Desk:</strong>
            <ul>
                <li>
                    Email - francismburu75&#64;gmail.com
                </li>
                <li>
                    Phone - 0798375876
                </li>
            </ul>
        </li>
      </ul>
      <p>
        Welcome to <strong>ChorePro</strong>
      </p>
    </section>
  
</div>