.container {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px;
  border-radius: 20px;
  background: rgba(255, 127, 80, 0.5);
  color: white;
}

section{
  padding: 40px 20px 10px;
  margin-bottom: 20px;
  text-align: center;
}
 
p{
  padding-bottom: 10px;
}

select{
  background: transparent;
}

option{
  color: black;
}

.hero-btn{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-btn:hover{
  background-color: #007BFF;
}
  
.services select {
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  margin-bottom: 20px;
}

.services ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}
  
  .services li {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 20px); /* Responsive card sizing */
    box-sizing: border-box;
    transition: transform 0.2s;
  }
  
  .services li:hover {
    transform: scale(1.02); /* Slightly enlarge the card on hover */
  }
  
  .services li strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .services li p {
    margin: 5px 0;
  }
  
  summary{
    font-size: larger;
    color: black;
    cursor: pointer;
  }
  summary:active, summary:hover{
    color: rgb(255, 255, 255);
  }

  
section.search-section {
  display: flex;
  justify-content: center;
}
.search-bar, .search-btn {
  border-radius: 5px;
}
.search-bar {
  max-width: 300px;
  padding: 10px;
}
.search-btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #0056b3;
}

@media (min-width: 1024px) {
  .container{
    max-width: 1000px;
  }
}